@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


    .text-primary{
        color: #FD6E0A;
    }
    .btn-primary{
        border-radius: 5px;
    
    background: rgb(253, 110, 10);
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    
    }
    nav {
        display: flex;
        font-family: Open Sans;
        align-items: center;
        justify-content: space-between;
        margin: 0px 200px;
     
    }
    nav ul{
        display:flex ;
        align-items: center;
    }
    nav ul li{
        list-style: none;
        margin-right: 51px;
       
        text-decoration: none;
        
    }
    nav ul a{
         
        text-decoration:none;
        font-size: 20px;
        color: #474747;
    
        
        
        
        
    }
    .nav-title{
        font-size: 45px;
        font-weight:800;
        
    }
    /* banner styles*/
    
    .banner{
    
        display: flex;
      max-height: 500px;
      margin-left: 150px;
      text-align: center;
      justify-content: space-between;
      
      
    }
    .header-banner{
        background-color: aliceblue;
        padding: 30px 30px 0 0 ;
    
        background: rgba(255, 248, 243, 0.58);
       
        
      
       
    }
    
    .banner.banner-content{
        padding: 40px 20px;
        margin-left: 50px;
    
     }
    
    .banner-greatings{
        color: rgb(71, 71, 71);
        font-family: Open Sans;
        font-size: 45px;
        font-weight: 600;
        line-height: 61px;
        letter-spacing: 0%;
        text-align: left;
    }
    .banner-title{
        color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: left;
    }
    .banner-description{
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align:center;
    margin-top: -25px;
    
    }
    /* .banner-profile-pic{
        width: 400px;
        /* margin-left: 300px;
        padding-left: 30px;
         */
    } */
    
    .ss:hover{
        border-radius: 5px;
    
    background: rgb(253, 110, 10);
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    border: none;
    margin-right: 20px;
    
    }
    .section-title{
        color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    }
    .sectin-description{
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    background-color: ;
    
    }
    /* main style */
    .main-main{
        max-width: 1140px;
        margin: 0 auto;
       
    }
    
    .about{
        text-align: center;
        padding: 130px 150px;
        border-radius: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        
        
    
    }
    .about-item{
        display: flex;
        justify-content:space-between;
        font-size: 15px;
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    
    
    }
    /* what i do */
    .what-i-do{
        text-align: center;
        padding: 130px 150px;
        border-radius: 10px;
        background: rgb(199, 243, 215);
        margin-top: 100px;
        margin-bottom: 100px;
        border: 1px solid rgb(95, 157, 24);
    }
    .skils-container{
        display: flex;
        justify-content: space-between;
       gap: 10px;
       
    }
    .skils-container .skill{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 20px;
    text-align: justify;
    border: 1px solid rgb(0, 0, 0);
    
    }
    .skils-container .skill .skill-title .skill-description{
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }
    /* resume */
    .resume-continer{
       display: flex;
       gap: 24px;
       text-align: justify;
       justify-content: space-between;
       margin-bottom: 20px;
       padding: 30px;
    }
    
    .resume-column-title{
        color: rgb(71, 71, 71);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0%;
        text-align: left;
    }
    .experience-title{
        color: rgb(71, 71, 71);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0%;
        text-align: left;
    }
    .experience-sub-title{
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    }
    .experience-description{
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    }
    .resume hr{
        margin: 10px;
    }
    .cv-download{
        text-align: center;
        margin: 50px;
    }
    /* footer */
    .footer{
        background: rgb(255, 248, 243);
     display: flex;
     padding: 100px;
     text-align: justify;
     justify-content: space-around;
     gap: 30px;
    }
    .footer-column{
        width: 30%;
    }
    .footer-title{
        color: rgb(24, 24, 24);
        font-family: Open Sans;
        font-size: 35px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align:left;
    
    }
    .fr{
        color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
    }
    /* .form .form-content{
        padding: 40px;
    } */
    .input{
        size: 20px;
    }
    footer input[type="text"]{
        border-radius: 5px;
    
    background: rgb(255, 255, 255);
    
    /* Rectangle 16 */
    position: absolute;
    width: 300px;
    height: 50px;
    display: block;
    padding: 5px 5px;
    }
    footer input[type="email"]{
     
        border-radius: 5px;
    
        background: rgb(255, 255, 255);
        
        /* Rectangle 16 */
        position: absolute;
        width: 300px;
        height: 50px;
        margin-top: 40px;
        display: block;
        padding: 5px 5px;
    }
    textarea{
        border-radius: 5px;
    
        background: rgb(255, 255, 255);
        
        /* Rectangle 16 */
        position: absolute;
        width: 300px;
        height: 100px;
        margin-top: 100px;
        display: block;
        padding: 5px 5px;
    }
    
    .btn-form{
        border-radius: 5px;
    
    background: rgb(253, 110, 10);
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 200px;
    margin-left: 30%;
    margin-bottom: 50px;
    
    }
    .copy-right{
        text-align: center;
    
    }
    
    .footer-column .icon-foot .a{
     gap: 70px;
    height: 40px;
    margin-top: 200px;
    }
    
/* responsive media query */
.no{
    display: none;
}
@media screen and (max-width:576px) {
    .skils-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;
    }
    .what-i-do {
        text-align: center;
        padding: 20px 20px;
        border-radius: 10px;
        background: rgb(199, 243, 215);
        margin-top: 100px;
        margin-bottom: 100px;
        border: 1px solid rgb(95, 157, 24);
        
    }
    nav {
        display: flex
    ;   
        width: 100%;
        font-family: Open Sans;
        align-items: center;
        justify-content: space-between;
        /* margin: 0px 200px; */
        width: fit-content;
        margin: 0 auto;
        background-color: rgb(61, 169, 18);
        padding: 4px;
    }
    .btn-primary {
        border-radius: 7px;
        background: rgb(253, 110, 10);
        /* padding: 10px; */
        color: aliceblue;
        font-size: 1em;
        border: none;
        /* margin-right: 1em; */
        cursor: pointer;
        width: 100px;
        height: 50px;
    }
    .header-banner {
        /* background-color: aliceblue; */
        /* padding: 30px 30px 0 0; */
        /* background: rgba(255, 248, 243, 0.58); */
        width: 100%;
    }
    .resume-continer {
        display: flex;
        gap: 24px;
        text-align: justify;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 20px;
        flex-direction: column;
    }
    background: rgb(255, 248, 243); */
    display: flex
;
    /* padding: 100px; */
    text-align: justify;
    /* justify-content: space-around; */
    /* gap: 30px; */
    flex-direction: column-reverse;
}
}
@media screen and (min-width:576px) and (max-width:992px) {
    .skils-container {
        display: flex
    ;
        justify-content: space-between;
        gap: 10px;
        flex-direction: row;
    }
    .what-i-do {
        text-align: center;
        padding: 10px 10px;
        border-radius: 10px;
        background: rgb(199, 243, 215);
        margin-top: 100px;
        margin-bottom: 100px;
        border: 1px solid rgb(95, 157, 24);
        
    }
    nav {
        display: flex
    ;
        font-family: Open Sans;
        align-items: center;
        /* justify-content: space-between; */
        /* margin: 0px 200px; */
        width: fit-content;
        margin: 0 auto;
        background-color: blue;
        padding: 2px;
    }
    .btn-primary {
        border-radius: 7px;
        background: rgb(253, 110, 10);
        padding: 10px;
        color: aliceblue;
        font-size: 1em;
        border: none;
        margin-right: 1em;
        cursor: pointer;
        width: 100px;
        height: 50px;
    }
    .header-banner {
        /* background-color: aliceblue; */
        /* padding: 30px 30px 0 0; */
        /* background: rgba(255, 248, 243, 0.58); */
        width: 100%;
    }
    .footer {
        /* background: rgb(255, 248, 243); */
        display: flex
    ;
        padding: 10x;
        /* text-align: justify; */
        justify-content: center;
        /* gap: 30px; */
        /* flex-wrap: wrap; */
        align-content: flex-end;
        /* align-items: center; */
        /* width: 100%; */
        flex-direction: row;
        justify-content: space-between;
    }
}
