@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    

    body{
    
        width: 100%;

    }
    .main-main{
        max-width: 1140px;
       
        margin: 0 auto;
    }
    
    .text-primary{
        color: #FD6E0A;
    }
    .btn-primary{
        border-radius: 5px;
    font-style: open sans;
    background: rgb(253, 110, 10);
    padding: 10px;
    color: aliceblue;
    font-size: 1em;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    
    }
    /* nav styles */
    nav {
        display: flex
    ;
        font-family: Open Sans;
        font-size: 2em;
        align-items: center;
        justify-content: space-between;
        margin: 20px 200px;
        align-content: center;
    }
.dark-2{
    color: #474747;
}
.nav-title{
    font-weight: 800;
    font-size:3rem;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    font-size: 1em;  
}
nav ul{
    display: flex;
}
/* banner style */
.banner-header-developer{
    background: rgba(255, 248, 243, 0.58);
    background-image: url(/icons/developer.png), url(/icons/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-position-y:bottom;
    height:auto;
    
}
.banner{
    display: flex;
    justify-content:space-between;
    margin: 0  0 0 120px;
    /* max-width: 100%; */
    /* max-height: 837px; */
}
.banner-greating{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 2em;
font-weight: 600;
}
.banner-title{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 3em;
font-weight: 700;
}
.banner-description{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 1rem;
font-weight: 400;
text-align: justify;

}
.banner-content{
    /* border: 1px black solid; */
    max-width: 580px;
    padding: 40px;
    /* margin-left:30px; */
    
}
.banner-profile-pic{
    width: 580px;
    /* border: 1px black solid; */
    /* padding: 40px; */
}
.banner-header{
    background-image: url(/icons/developer.png);
}
   /* main style */
   
    .about{
        text-align: center;
        padding: 130px 150px;
        border-radius: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        
        
    
    }
    .about-item{
        display: flex;
        justify-content:space-between;
        font-size: 15px;
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    
    
    }
    /* what i do */
    .what-i-do{
        text-align: center;
        padding: 10px 10px;
        border-radius: 10px;
        background: rgb(199, 243, 215);
        margin-top: 100px;
        margin-bottom: 100px;
        border: 1px solid rgb(95, 157, 24);
    }
    .skils-container{
        display: flex;
        justify-content: space-between;
       gap: 10px;
       
    }
    .skils-container .skill{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 20px;
    text-align: justify;
    border: 1px solid rgb(0, 0, 0);
    
    }
    .skils-container .skill .skill-title .skill-description{
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }
    /* resume */
    .resume-continer{
       display: flex;
       gap: 24px;
       text-align: justify;
       justify-content: space-between;
       margin-bottom: 20px;
       padding: 30px;
    }
    
    .resume-column-title{
        color: rgb(71, 71, 71);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0%;
        text-align: left;
    }
    .experience-title{
        color: rgb(71, 71, 71);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0%;
        text-align: left;
    }
    .experience-sub-title{
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    }
    .experience-description{
        color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    }
    .resume hr{
        margin: 10px;
    }
    .cv-download{
        text-align: center;
        margin: 50px;
    }
    /* footer */
    .footer{
        background: rgb(255, 248, 243);
     display: flex;
     padding: 100px;
     text-align: justify;
     justify-content: space-around;
     gap: 30px;
    }
    .footer-column{
        width: 30%;
    }
    .footer-title{
        color: rgb(24, 24, 24);
        font-family: Open Sans;
        font-size: 35px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align:left;
    
    }
    .fr{
        color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
    }
    /* .form .form-content{
        padding: 40px;
    } */
    .input{
        size: 20px;
    }
    footer input[type="text"]{
        border-radius: 5px;
    
    background: rgb(255, 255, 255);
    
    /* Rectangle 16 */
    position: absolute;
    width: 300px;
    height: 50px;
    display: block;
    padding: 5px 5px;
    }
    footer input[type="email"]{
     
        border-radius: 5px;
    
        background: rgb(255, 255, 255);
        
        /* Rectangle 16 */
        position: absolute;
        width: 300px;
        height: 50px;
        margin-top: 40px;
        display: block;
        padding: 5px 5px;
    }
    textarea{
        border-radius: 5px;
    
        background: rgb(255, 255, 255);
        
        /* Rectangle 16 */
        position: absolute;
        width: 300px;
        height: 100px;
        margin-top: 100px;
        display: block;
        padding: 5px 5px;
    }
    
    .btn-form{
        border-radius: 5px;
    
    background: rgb(253, 110, 10);
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 200px;
    margin-left: 30%;
    margin-bottom: 50px;
    
    }
    .copy-right{
        text-align: center;
    
    }
    
    .footer-column .icon-foot .a{
     gap: 70px;
    height: 40px;
    margin-top: 200px;
    }
    
/* responsive media query */
.no{
    display: none;
}

@media screen  and (max-width:576px){
    .about {
        width: 100%;
        text-align: center;
        padding: 2px 2px;
        border-radius: 10px;
        margin: 0 auto;
        border: 1px solid rgb(0, 0, 0);
    }
    .about-item {
        display: flex;
        font-size: 15px;
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .skils-container {
        display: flex
    ;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;
    }

    .sectin-description {
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
        padding: 10px;
        text-align: justify;
    }
    
        .what-i-do {
            text-align: center;
           
            border-radius: 10px;
            background: rgb(180, 208, 96);
            margin-top: 100px;
            margin-bottom: 100px;
            border: 1px solid rgb(95, 157, 24);
        }
    
        .resume-continer {
            display: flex
        ;
            
            text-align: justify;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 30px;
            flex-direction: column;
        }
        .resume .section-title{
            
                text-align: center;
                font-family: open sans;
                font-size: 20px;
                /* margin-left: 40px; */
                justify-content: center;
                align-items: center;

            
        }
        nav {
            display: flex
        ;
            font-family: Open Sans;
            font-size: 2em;
            justify-content: space-evenly;
            margin: 20px 200px;
            align-items: center;
            flex-direction: column;
          
        }
        nav ul {
            display: flex
        ;
            justify-content: space-evenly;
            align-content: stretch;
            align-items: center;
            /* margin: 0 auto; */
        }

        .btn-primary{
            font-size: 20px;
            width: 100px; 
            font-family: Open Sans;
            align-items: center;
         }
        .main-main .cv-download button{
            font-family: Open Sans;
            font-weight: 800;
            width: 140px;
            border-radius: 5px;

            background: rgb(253, 110, 10);
            
        }
         
        .footer {
            background: rgb(255, 248, 243);
            display: flex;
            text-align: justify;
            gap: 30px;
            flex-direction: column-reverse;
            width: 100%;
            padding: 10px;
        }
        .footer input[type="text"], .footer input[type="email"],footer textarea{
            width: calc(100% - 40px);
        }
        .banner {
            display: flex;
            margin: 0 0 0 30px;
            flex-direction:column;
        }
        .banner-content {        
                padding: 3px;
            width: 100%;
        }
       
        .banner-profile-pic {
                width: 100%;
                /* margin-left: 20%; */
         }
    
        
       
}
@media screen and (min-width:576px) and (max-width:992px) {
    .about {
        text-align: center;
        padding: 100px 100px;
        border-radius: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
    }
    .about-item {
        display: flex
    ;
        justify-content: space-between;
        font-size: 1em;
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
    }
    .resume-continer {
        display: flex
    ;
        gap: 24px;
        text-align: justify;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 30px;
        border: black solid;
        border-radius: 5px;
    }
   
    nav {
        display: flex;
        font-family: Open Sans;
        font-size: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .btn-primary{
       font-size: 20px;
       width: 100px; 
       font-family: Open Sans;
       align-items: center;
    }
    .main-main .cv-download button{
        font-family: Open Sans;
        font-weight: 800;
        width: 140px;
        border-radius: 5px;

        background: rgb(19, 104, 209);
        
    }
    
  
}
